@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");

.home_layout {
	min-height: 100vh;
}

.home_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: normal;
	background: #ffffff;
	padding: 5px 20px;
	border-bottom: 0.5px solid #e9e4e4;
}
.home_sider {
	height: auto;
	background: rgb(255, 255, 255);
}
.sider_menu {
	background: none;
}
.home_content {
	display: flex;
	justify-content: center;
	padding-top: 1rem;
	position: relative;
}
.navlink {
	font-family: "Lato";
	font-size: 1.3rem;
	color: #fff;
	padding: 3px 10px;
	margin-left: 10px;
}
.navlink:hover {
	color: yellow;
}

.user {
	justify-self: end;
	cursor: pointer;
}
.menuBtn {
	display: none;
}

/* btns  */
.openEditDeleteBtns {
	display: flex;
	justify-content: space-between;
	width: 4.5rem;
	justify-self: end;
}
.editDeleteBtns {
	opacity: 0;
	pointer-events: none;
}
/* btns  */

/* drawer menu  */
.menuLink {
	font-size: 1.2rem;
}

.table {
	min-width: 90%;
}
/* title  */
.tableTitle {
	display: grid;
	grid-template-columns: 1fr repeat(2, auto);
	grid-gap: 10px;
}
/* title  */
.attendance_title {
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: end;
	grid-gap: 10px;
}
.attendance_footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* @media  */
@media screen and (max-width: 910px) {
	.home_header {
		padding: 0 10px;
	}
	.navlink {
		font-size: 1.2rem;
		margin-left: 8px;
	}
}

@media screen and (max-width: 768px) {
	.home_header {
		grid-template-columns: repeat(2, auto) 1fr;
		padding: 0 15px;
	}
	.navlink {
		display: none;
	}
	.menuBtn {
		display: block;
		margin-left: 20px;
	}
}

@media screen and (max-width: 735px) {
	.home_header {
		padding: 0 8px;
	}
	.menuBtn {
		display: block;
		margin-left: 1rem;
	}
}
